#title, #bottom{
    text-align: center;
    color: black;
}



#content {
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: min-max(150px, auto);
    grid-gap: 10px;
    display: grid;
    max-width: 960px;
    margin: 0 auto;
}

#content div {
background-color: RGB(79,35,63);
padding: 30px;
}

div {
align-items: center;
justify-items: center;
}
.one {
    grid-column: 1/3;
    grid-row: 1/4;
}

.two {
    grid-row: 1/4;
}

.three {
    grid-column: 1/3;
    grid-row: 4/7;
}

.four {
    grid-column: 3/6;
    grid-row: 4/9;

}

.five {
    grid-column: 4/6;
    grid-row: 1/4;

}

.six {
    grid-column: 1/3;
    grid-row: 7/10;
}

.seven {
    grid-column: 1/3;
    grid-row: 10/13;
}
body {
    background-color: RGB(232, 232,232);
    color: RGB(79,35,63);
}

div {
    text-align: center;
}

h1{
    color: RGB(79,35,63);
}