body {
    background-image: url("img_tree.gif");
        background-repeat: repeat;
        background-color: #cccccc;
}

#one {
    border-style: dotted;
    background-color: #cccccc;
}

#right {
    text-align: right;
    color: green;
    font-weight: bold;
}

#linear {
    background-image: linear-gradient(red,yellow,green);
    text-align: center;
    font-family: "Courier New";
    font-size: 22px;
    border-style: double;
}

#norepeat {
   background-image: url("cat.jpg");
   background-repeat: no-repeat;
   background-color: pink;
   height: 300px;
   font-weight: bold;
}