/***********Tag Selectors ****************/
div {
    background-color: #FF9494;
    text-align: center;
    color: #F30000;
    font-family:  Arial, Helvetica, sans-serif;
    padding:0;
}

body {
    margin: 0;
}

h1 {
    margin: 0;
    padding: 15% 25% 0 25%;
    font-family: 'Nabla', Garamond;
    font-size: 3rem;
    line-height: 1;
}

h2 {
    font-weight: normal;
}
h3 {
    color: #FF9494;
}
img {
    position: relative;
}

table {
    margin: 0 auto;
    text-align: left;
}
a {
    color: #F30000;
}

a:hover {
    background-image: none;
    background-color: #DF0000 !important;
    color: #FFF5E4 !important;
}

br {
    display: none;
}
p {
    line-height:2;
}

p.top {
    padding: 0 25%;
    margin-bottom: 0;
    position: relative;
    font-family:  'Dancing Script', Arial;
    font-weight: bold;
}


/***********Class Selectors ****************/

.profile {
    background-color: #FFF5E4;
    padding: 5% 0 5% 0;
}

.skills, .skill-row {
    background-color: #FFE3E1;
    padding: 5% 0 5% 0;
}

.skill-row {
    margin: 3.5rem 0 3.5rem 3.5rem;
    width: 75;
    padding: 0;
}
.topcloud {
    position: absolute;
    right: 35%;
    top: 2%;
}
.bottomcloud {
    position: absolute;
    top: 45%;
}
.profilepic{
    height: 5%;
    border-radius: 100%;
}

.contact-me{
    background-color: #FFD1D1;
    padding: 5% 0 5% 0;
}

.bottom {
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: #F47C7C;
    margin: 0 auto;
}

.btn {
    border-radius: 5px;
    height: 1.5em;
    background-image: linear-gradient(#FF9494, #FFF5E4);
    text-decoration: none;
}

.copyright{
    color: #FFF5E4;
}
